* {
  box-sizing: border-box;
}

a {
  color: #f0f;
}

a:hover {
  color: #0f0;
  text-shadow: 0 0 0.625rem #0f0;
}

body {
  margin: 0;
  color: #eee;
  font-family: 'VT323', monospace;
  text-shadow: 0.0625rem 0.0625rem 0 #000;
}

/* --- Custom text selection --- */
::selection {
  background-color: #ff00ff; 
  color: #fff;
  text-shadow: none;
}

/* Firefox */
::-moz-selection {
  background-color: #ff00ff;
  color: #fff;
  text-shadow: none;
}

.card {
  border: 0.125rem solid #0f0;
  padding: 0.75rem;
  margin-bottom: 1rem;
  color: #fff;
  box-shadow: 0 0 0.625rem #0f0, inset 0 0 0.3125rem #f0f;
  font-family: 'Gloria Hallelujah', cursive;
}
