---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import LeftPanel from '../components/LeftPanel/LeftPanel.astro';
import RightPanel from '../components/RightPanel/RightPanel.astro';
import ProfileHeader from '../components/ProfileHeader.astro';
import TopNav from '../components/TopNav.astro';
---

<Layout title="MyScapetuary">
  <ProfileHeader />
  <TopNav />
  <div class="profile-container">
    <LeftPanel />
    <RightPanel />
  </div>
</Layout>
