---
import '../styles/global.css';
import ProfileHeader from '../components/ProfileHeader.astro';
// import AboutMe from '../components/AboutMe.astro';
// import TopFriends from '../components/TopFriends.astro';
// import Guestbook from '../components/Guestbook.astro';
import EffectsLayer from '../components/EffectsLayer.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>★ MyScapetuary ★</title>
  </head>
  <body>
    <EffectsLayer />
    <main class="container">
      <ProfileHeader />
      <!-- <AboutMe />
      <TopFriends />
      <Guestbook /> -->
    </main>
  </body>
</html>
