<header class="profile-header">
  <h1>
    <marquee>★ hiii!! welcome 2 my rawr page x3 🖤💀 ★</marquee>
  </h1>
</header>

<style>
  .profile-header {
    text-align: center;
    color: #ff69b4;
    font-family: 'Comic Sans MS', cursive;
    margin-top: 2rem;
  }

  .avatar {
    width: 9.375rem;
    border: 0.3125rem solid hotpink;
    box-shadow: 0 0 1.5625rem magenta;
    border-radius: 0.625rem;
  }
</style>
