<article class="card contact-card">
  <h3>Contact</h3>
  <ul class="contact-options">
    <li><a href="#">Send Message</a></li>
    <li><a href="#">Add Friend</a></li>
    <li><a href="#">Add to Favorites</a></li>
    <li><a href="#">Block User</a></li>
  </ul>
</article>

<style>
  .contact-options {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .contact-options li {
    margin-bottom: 0.3rem;
  }

  .contact-options a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'VT323', monospace;
  }
</style>
