<article class="card about-card">
  <h3>About Me</h3>

  <img src="public/aboutme.gif" alt="Decorative graphic" class="about" />

  <p>
    hiii!! my name's Riley but u can call me Rawr 🖤 (yes like the dinosaur
    sound hehe &gt;:3) i'm just a lost soul stuck between Hot Topic & the void
    💀💋. i was actually born in the wrong timeline (seriously tho like wtf why
    was i sent to *this* century??) i'm pretty sure i glitched out of a 2007 AIM
    chat & now i just kinda… exist here?? lol. anywayz i luv music, neon hair
    dye, monster energy, and crying over lyrics that only 3 ppl understand 🖤💔.
    if u don't like MCR, BOTDF, or Pierce The Veil we probs can't be friends sry
    not sry xD
  </p>
  <p>
    sometimes i stay up way too late writing poetry in my notes app (or like… on
    my hand if i can't find paper lmao) about ppl who don't even know i exist
    ;-; but that's okay bc pain = art and art = life ✨🎧. my hair color changes
    depending on my mood (rn it's like purple-blue-black kinda??) and my
    eyeliner wings could probably cut thru space and time. i believe in love at
    first playlist & destiny thru random friend requests 💕
  </p>
  <p>
    most days i'm just floating thru this glitchy lil reality, blasting music &
    pretending i'm in a music video while staring out car windows dramatically
    🖤. if u wanna talk abt music, dreams, or like deep late-night existential
    stuff while trading playlists, add me &lt;3 just don't be fake or i'll
    disappear faster than ur WiFi signal 😭✨.
  </p>
</article>

<style>
  .about {
    height: 5rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    filter: brightness(90%);
    border: 0.125rem solid #f0f;
  }
</style>
