---
const friends = Array.from({ length: 6 });
---

<article class="card friends-card">
  <h3>BFFs</h3>
  <div class="friends-grid">
    {
      friends.map((_, i) => (
        <a href={`#friend${i + 1}`}>
          <img src={`friends/friend${i + 1}.jpg`} alt={`Friend ${i + 1}`} />
        </a>
      ))
    }
  </div>
</article>

<style>
  .friends-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: 0.5rem;
    justify-items: center;
    margin-top: 0.5rem;
  }

  .friends-grid a {
    display: inline-block;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }

  .friends-grid a:hover {
    transform: scale(1.1);
    box-shadow:
      0 0 0.5rem #0f0,
      inset 0 0 0.3125rem #f0f;
  }

  .friends-grid img {
    width: 5rem;
    height: 5rem;
    display: block;
    object-fit: cover;
    border: 0.125rem solid #f0f;
    border-radius: 0.3125rem;
  }
</style>
