---
import BannerCard from './BannerCard.astro';
import BlogCard from './BlogCard.astro';
import AboutMeCard from './AboutMeCard.astro';
import ExtrasCard from './ExtrasCard.astro';
import FriendsCard from './FriendsCard.astro';
---

<section class="right-panel">
  <BannerCard />
  <BlogCard />
  <AboutMeCard />
  <ExtrasCard />
  <FriendsCard />
</section>
