.myscapetuaryBody {
  margin: 0;
  font-family: Tahoma, Verdana, sans-serif;
  background: #fa77ef url('../assets/background.jpg') repeat;
  color: #222;
}

.myscapetuaryFooter {
  text-align: center;
  font-size: 0.8rem;
  color: #555;
  margin-top: 2rem;
}
