---
import styles from './Layout.module.css';

interface Props {
  title?: string;
}

const { title = 'A MySpace Parody' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <script type="module" src="/src/scripts/cursorTrail.ts"></script>
    <script type="module" src="/src/scripts/glitter.ts" onload="initGlitter()"
    ></script>
  </head>

  <body class={styles.myscapetuaryBody}>
    <div id="myscapetuary-container">
      <header class="myscapetuary-header">
        <h1>{title}</h1>
      </header>

      <main id="myscapetuary-main">
        <slot />
      </main>

      <footer class={styles.myscapetuaryFooter}>
        <p>© 2025 MyScapetuary - Have your space — Powered by Astro</p>
      </footer>
    </div>
  </body>
</html>
