---
interface Props {
  title?: string;
}

const { title = 'A MySpace Parody' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <script type="module" src="/src/scripts/cursorTrail.ts"></script>
    <script type="module" src="/src/scripts/glitter.ts" onload="initGlitter()"
    ></script>
  </head>

  <body class="myscapetuaryBody">
    <div id="myscapetuary-container">
      <header class="myscapetuary-header">
        <h1>{title}</h1>
      </header>

      <main id="myscapetuary-main">
        <slot />
      </main>

      <footer class="myscapetuaryFooter">
        <p>© 2025 MyScapetuary - Have your space — Powered by Astro</p>
      </footer>
    </div>
  </body>
</html>

<style>
  .myscapetuary-header {
    width: 100%;
    background: #000;
    padding: 0.25rem 0.5rem;
  }

  .myscapetuary-header h1 {
    margin: 0;
    font-size: 0.9rem;
    font-family: monospace;
    color: #fff;
  }

  .myscapetuaryBody {
    margin: 0;
    font-family: Tahoma, Verdana, sans-serif;
    background: #fa77ef url('background.jpg') repeat;
    color: #222;
  }

  .myscapetuaryFooter {
    text-align: center;
    font-size: 0.8rem;
    color: #555;
    margin-top: 2rem;
  }
</style>
